<!-- The form will use $scope.newProduct-->

<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">{{'products.AddNewProduct' | translate}}</h4>
	</div>
	<div class="modal-body">
		<form name="newProductForm">
			<div class="input-group">
				<label for="productName">{{'products.Name' | translate}}</label>
				<input type="text" 
					class="form-control"
					placeholder="{{'products.AddNew.Name' | translate}}"
					name="productName"
					ng-model="newProduct.name"/>
			</div>
			<div class="input-group">
				<label for="price">{{'products.Price' | translate}}</label>
				<input type="text"
					class="form-control"
					placeholder="{{'products.AddNew.Price' | translate}}"
					name="price"
					ng-model="newProduct.price"/>
			</div>
			<div class="input-group">
				<label for="imagePath">{{'products.Image' | translate}}</label>
				<input type="text"
					class="form-control"
					placeholder="{{'products.AddNew.Image' | translate}}"
					name="imagePath"
					ng-model="newProduct.imagePath"/>
			</div>			
			<div class="modal-footer">
				<button ng-click="onOk()" class="btn btn-default">{{'products.AddNew.Submit' | translate}}</button>
				<button ng-click="onCancel()" class="btn btn-default">{{'products.AddNew.Cancel' | translate}}</button>
			</div>
		</form>
	</div>
</div>