<!-- The form will use $scope.newProduct-->

<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">{{'products.AddNewProduct' | translate}}</h4>
	</div>
	<div class="modal-body">
		<form name="newProductForm">
			<div class="input-group">
				<label for="productName">{{'products.Name' | translate}}</label>
				<input type="text" 
					class="form-control"
					placeholder="{{'products.AddNew.Name' | translate}}"
					name="productName"
					autofocus="autofocus"
					ng-model="newProduct.name"
					required="required"
					pattern="[\w\W]{2,30}"/>
			</div>
			<small 
				class="help-block" 
				ng-show="newProductForm.productName.$invalid">Can not be empty, must be 2-30 letters.
			</small>
			<div class="input-group">
				<label for="price">{{'products.Price' | translate}}</label>
				<input type="text"
					class="form-control"
					placeholder="{{'products.AddNew.Price' | translate}}"
					name="price"
					ng-model="newProduct.price"
					required="required"
					pattern="[0-9]{1,30}"/>
			</div>
			<small 
				class="help-block" 
				ng-show="newProductForm.price.$invalid">Can not be empty, numberic digits only.
			</small>
			<div class="input-group">
				<label for="imagePath">{{'products.Image' | translate}}</label>
				<input type="text"
					class="form-control"
					placeholder="{{'products.AddNew.Image' | translate}}"
					name="imagePath"
					ng-model="newProduct.imagePath"/>
			</div>
			<small 
				class="help-block">Optional.
			</small>
			<div class="modal-footer">
				<button 
					ng-click="onOk()" 
					ng-disabled="newProductForm.$invalid" 
					class="btn btn-default">{{'products.AddNew.Submit'| translate}}
				</button>
				<button 
					ng-click="onCancel()" 
					class="btn btn-default">{{'products.AddNew.Cancel' | translate}}
				</button>
			</div>
		</form>
	</div>
</div>