<div> Hér ætti að birtast listi af seljendum - TODO: útfæra það!</div>
<p> Here come the sellers, just as raw data for now</p>
<div ng-model="sellers">
	<div class="panel panel-default">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><a class="btn btn-default btn-block">ID</a></th>
					<th><a class="btn btn-default btn-block">Salesman</a></th>
					<th><a class="btn btn-default btn-block">Category</a></th>
				</tr>
			</thead>
			<!--TODO: ADD SORTING FILTER IN THEADS AND EDIT OPTION TO TBODY ROWS-->
			<tbody>
				<tr role="button" ng-repeat="salesman in sellers">
					<td scope="row">{{salesman.id}}</td>
					<td>{{salesman.name}}</td>
					<td>{{salesman.category}}</td>
				</tr>			
			</tbody>
		</table>
	</div>
</div>

<button class="btn btn-primary pull-right" ng-click="onSubmitSeller()">Submit seller</button>