

<!--DATA FOR TESTING, CAN BE DELETED OR EDITED FOR PRETTIFYING-->
<!--Sellers are in $scope.sellers-->
<p> Here come the sellers, just as raw data for now</p>

<div ng-model="sellers">
	<div class="panel panel-default">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th><a class="btn btn default">Salesman</a></th>
					<th>Category</th>
				</tr>
			</thead>
			<!--TODO: MAKE ROW CLICKABLE AND ADD SORTING FILTER IN THEADS-->
			<tbody>
				<tr ng-repeat="salesman in sellers">
					<td scope="row">{{salesman.id}}</td>
					<td>{{salesman.name}}</td>
					<td>{{salesman.category}}</td>
				</tr>			
			</tbody>
		</table>
	</div>
</div>


<table class="table">
	<th>ID</th>
	<th>Name</th>
	<th>Category</th>
	<th>Photo</th>
	<tr ng-repeat="seller in sellers">
		<td>{{seller.id}}</td>
		<td>{{seller.name}}</td>
		<td>{{seller.category}}</td>
		<td>{{seller.imagePath}}</td>
	</tr>
</table>


<!--This function onSubmitSeller should be connected to the button that 
comes with the form for a new seller, the submit button for that -->
<button ng-click="onSubmitSeller()">Submit seller</button>


<!--This function onUpdateSeller should be connected to the button that 
comes with the form for updating a new seller, the submit button for that -->
<button ng-click="onUpdateSeller()">Update seller</button>



<!--DATA FOR TESTING, CAN BE DELETED OR EDITED FOR PRETTIFYING-->