<div ng-model="sellers" class="Sellers">
	<div class="clearfix">
		<button class="btn btn-primary pull-right"
				ng-click="onAddSeller()">
			<span class="glyphicon glyphicon-plus"></span><span translate="sellers.AddNewSellerButton"></span>
		</button>
		<h1 class="pull-left"
			translate="sellers.Title"></h1>
	</div>
	<hr>
	<form class="form-inline">
		<div class="form-group">
			<input placeholder="{{'sellers.Search' | translate}}"
					class="form-control"
					type="text"
					ng-model="sellersSearchText">
		</div>
	</form>
	<br>
	<div class="panel panel-default table-responsive">
		<table class="table table-hover">
			<thead>
				<tr table-sort="name">
					<th class="text-center">
						<span translate="sellers.Photo"></span>
					</th>
					<th role="button"
						data-columnName="name"
						title="{{'sellers.SortByName' | translate}}">
						<span translate="sellers.Name"></span>
					</th>
					<th role="button"
						data-columnName="category"
						title="{{'sellers.SortByCategory' | translate}}">
						<span translate="sellers.Category"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in sellers | orderBy:predicate:reverse | filter:sellersSearchText">
					<td class="text-center"
						title="See sellers's details"
						role="button"
						scope="row"
						ng-click="seeDetails(s.id)">
						<img width="80"
							height="80"
							class="img-circle"
							ng-src="{{s.imagePath}}"/>
					</td>
					<td role="button"
						title="See seller's details"
						ng-click="seeDetails(s.id)">{{s.name}}</td>
					<td role="button"
						title="See seller's details"
						ng-click="seeDetails(s.id)">{{s.category}}</td>
					<td><a title="Edit seller"
							ng-click="onUpdateSeller(s.id)">
							<span class="btn btn-default glyphicon glyphicon-edit"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>