.Sellers {

	@spacingBase: 10px;
	@linkColor: #fff;

	.center-block {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	 }
	.sellerPhoto{
		margin-right: @spacingBase;
		margin-top: @spacingBase;
	}
	.tabsSpace {
		ul {
			padding-top: @spacingBase;
			.listLink {
				&:hover {
					background-color: spin(darken(@linkColor, 10%), 8);
				}
			}
		}		
	}
	.table {
		thead {
			tr {
				th {
					padding-top: @spacingBase;
					padding-bottom: @spacingBase;
					vertical-align: middle;

				}
				.btn {
					border-radius: 0;
					border-bottom: none;
					border-top: none;
					padding: @spacingBase (@spacingBase + 2px);
				}
				.btn-block {

				}
			}
		}
	}
}