.Sellers {

	@spacingBase: 10px;

	.table {
		thead {
			tr {
				th {
					padding-top: @spacingBase;
					padding-bottom: @spacingBase;
					vertical-align: middle;

				}
				.btn {
					border-radius: 0;
					border-bottom: none;
					border-top: none;
					padding: @spacingBase (@spacingBase + 2px);
				}
				.btn-block {

				}
			}
		}
	}
}