.Sellers {

	@spacingBase: 10px;

	.table {
		thead {
			tr {
				th {
					padding: 0;
					vertical-align: middle;

					.btn {
						border-radius: 0;
						border-bottom: none;
						border-top: none;
						padding: @spacingBase (@spacingBase + 2px);
					}
				}
			}
		}
	}
}