<h1>Sellers detail page</h1>

<div class="SellerDetails">
<img src="{{sellerDetails.imagePath}}" height="50px" width="50px">
<p>Name: {{sellerDetails.name}}<p>
<p>Category: {{sellerDetails.category}}</p>
</div>

<uib-tabset>
	<uib-tab index="0" heading="All products">
		<div product>
			<product-name></product-name>
		</div>
	</uib-tab>
	<uib-tab index="1" heading="Top 10">
		<div product>
			<top-product-name></top-product-name>
		</div>
	</uib-tab>

	<button class="btn btn-primary pull-right" ng-click="onAddProduct()"> <span class="glyphicon glyphicon-plus"></span> Add new product</button>