<div class="Sellers clearfix">
	<button class="btn btn-primary pull-right" ng-click="onAddProduct()">
		<span class="glyphicon glyphicon-plus"></span>{{'products.AddNewProduct' | translate}}
	</button>
	<img src="{{sellerDetails.imagePath}}" class="img-circle pull-left" height="80px" width="80px">
	<h1 class="clearfix">{{sellerDetails.name}}
		<br><small>{{sellerDetails.category}}</small>
	</h1>
	<hr>
	<uib-tabset class="tabsSpace" >
		<uib-tab index="0" heading="{{'products.AllProducts' | translate}}">
			<div product>
				<product-name></product-name>
			</div>
		</uib-tab>
		<uib-tab index="1"  heading="{{'products.TopProducts' | translate}}">
			<div product>
				<top-product-name></top-product-name>
			</div>
		</uib-tab>
	</uib-tabset>
</div>