<!DOCTYPE html>
<html ng-app="project3App">
<head>
	<title>WEPO Assignment 3!!! - Online Web Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<!--KEEP THIS ONE -->
	<link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="src/vendor/font-awesome/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="styles/app.css">
	<!-- DONT KNOW EXACTLY WHAT REFERENCES WE NEED.....GULP-->
	<!--
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-mocks/angular-mocks.js"></script>
	<script src="vendor/angular-toastr/dist/angular-toastr.js"></script>
	<script src="vendor/angular-route/angular-route.min.js"></script>
	<!--AS BEFORE, UI-BOOTSTRAP DOES NOT WORK FOR TABS-->
	<!--<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>-->
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
	<script src="vendor/angular-animate/angular-animate.js"></script><!--Added to for tabs to work -Védís-->
	<!--
	<script src="shared/app.js"></script>
	<script src="app.js"></script>
	<script src="components/sellers/SellersController.js"></script>
	<script src="components/seller-details/SellerDetailsController.js"></script>
	<script src="components/resource/AppResource.js"></script>
	<script src="components/product/productDirectives.js"></script>
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	link rel="stylesheet" href="/components/sellers/sellers.less"-->
	<!--link rel="stylesheet" href="styles/vendor.css"-->	
</head>
<body class="General" >
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">
					<a ng-href="#/"><img class="img-circle" src="src/components/imgs/shell_sark.png"/>ShellSarks</a>
					<div ng-controller="LanguageController">
						<img role="button" ng-click="changeLanguage('is')" src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Flag_of_Iceland.png" height="25" width="25">
						<img role="button" ng-click="changeLanguage('en')" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/2000px-Flag_of_the_United_Kingdom.svg.png" height="25" width="25">
				</div>
			</div>
		</div>
	</nav>
	<main class="container">
		<div class="Main clearfix" ng-view id="content"></div>
	</main>
	<toaster-container></toaster-container>
	<!-- inject:vendor:js -->
	<!-- endinject -->

	<!-- inject:app:js -->
	<!-- endinject -->

	<!-- inject:templates:js -->
	<!-- endinject -->
</body>

</html>
